<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>LlamaLingo - Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

  <div class="contenedor-login">
    <img src="{{ url_for('static', filename='Llamalingo_logo.png') }}" alt="Logo LlamaLingo" class="logo">
    <h2>Iniciar Sesión</h2>

    {% if error %}
      <p style="color:red">{{ error }}</p>
    {% endif %}

    <div id="Logeo">
      <form action="{{ url_for('login') }}" method="post">
        <input type="email" name="correo" placeholder="Correo" required>
        <input type="password" name="clave" placeholder="Contraseña" required>
        <button type="submit">Iniciar</button>
      </form>

      <p>¿No tienes cuenta?</p>
      <a href="{{ url_for('registro') }}"><button>Registrarse</button></a>
    </div>
  </div>

  <video autoplay muted loop id="video-fondo">
    <source src="{{ url_for('static', filename='Synth City.mp4') }}" type="video/mp4">
    Tu navegador no soporta video HTML5.
  </video>

</body>
</html>
